// some small tailwind-like container styles

.container {

    &.bg-dark {

        background-color: $element-color-dark;

    }

    &.bg-medium {

        background-color: $element-color-medium;

    }

    &.bg-light {

        background-color: $element-color-light;

    }

    &.border {

        border-radius: $border-radius-medium;
        border: $border-default;

    }

    &.border-radius-small {

        border-radius: $border-radius-small!important;

    }

    &.border-radius-large {

        border-radius: $border-radius-large!important;

    }

    &.padding-small {

        padding: $spacing-small;

    }

    &.padding-medium {

        padding: $spacing-medium;

    }

    &.padding-large {

        padding: $spacing-large;

    }

    &.margin-small {

        margin: $spacing-small;

    }

    &.margin-medium {

        margin: $spacing-medium;

    }

    &.margin-large {

        margin: $spacing-large;

    }

    &.full-width {

        width: 100%;

    }

    &.full-height {

        height: 100%;

    }

    &.center {

        display: flex;
        justify-content: center;
        align-items: center;

    }

    &.column {

        display: flex;
        flex-direction: column;

    }

    &.row {

        display: flex;
        flex-direction: row;

    }

    &.space-between {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &.gap-small {

        gap: $spacing-small;

    }

    &.gap-medium {

        gap: $spacing-medium;

    }

    &.gap-large {

        gap: $spacing-large;

    }

}

.text {

    font-weight: 500; // base font weight

    &.small {

        font-size: $font-size-small;

    }

    &.medium {

        font-size: $font-size-medium;

    }

    &.large {

        font-size: $font-size-large;

    }

    &.muted {

        color: $font-color-muted;

    }

    &.bold {

        font-weight: 800;

    }

}